.CharacterCard {
  font-family: var(--font-avenger);
  font-size: 3rem;

  display: flex;

  flex-direction: row;
  align-items: center;

  color: var(--color-text-primary);

  background: none;
  border: none;

  &:focus {
    outline: 2px solid var(--color-text-shadow);
  }

  .ApiImage {
    border-radius: 50%;
    border: 0.25rem solid var(--color-text-primary);
    margin-right: 0.5rem;
  }

  &:hover {
    text-shadow: var(--color-text-shadow) 4px 4px;

    .ApiImage {
      border-color: var(--color-text-shadow);
    }
  }
}
