.Header {
  display: flex;
  align-items: center;

  color: var(--color-text-primary);

  h1 {
    font-family: var(--font-marvel);
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 4px;

    margin: 0 auto;
  }
}
