.EventGrid {
  color: var(--color-text-primary);
  overflow: hidden;

  padding: 0 0 0 1rem;

  border: 2px solid var(--color-text-secondary);
  border-left: none;

  > h4 {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.4rem;
    text-align: center;
  }

  > .content {
    height: calc(100% - 1.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    overflow-x: hidden;
    overflow-y: auto;

    .EventCard {
      width: 48%;
    }
  }
}
